<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background: url(<path-to-image>), lightgray 50% / cover no-repeat,
          #140e20;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: rgba(83, 56, 87, 0.6);
      }

      li {
        float: left;
        width: 20%;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #111;
      }
      /* .logo {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 50%;
        color: #ebe1ff;
      } */
      div {
        display: inline-block;
      }
      .logo {
        display: inline-block;
        width: 167px;
        height: 160px;
        /* justify-content: center;
        align-items: center; */
        flex-shrink: 0;
        border-radius: 50%;
        margin-top: 20px;
        margin-right: 10px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
      /* p {
        display: inline-block;
        float: inline-start;
        margin-top: 0;
        width: 734px;
        height: 112px;
        flex-shrink: 0;
        color: #fff;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 82px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      } */
    </style>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/recentactivities">Recent Activities</a></li>
      <li><a href="/latestnews">Latest News</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/team">Team Members</a></li>
    </ul>
    <div style="margin-bottom: 50px">
      <img
        class="logo"
        src="https://s3-alpha-sig.figma.com/img/d33c/a22c/4fc1182855a7417eeef9d5b485c10a40?Expires=1691971200&Signature=mINo4dSidVy4S2P776yik~L9Tg4BVfaYnpJXAUECassRIe0lfAEdon-GhuJqvnvld-URdTRxPq3Jlr~6AVkUsKuMvuViWQH05rWJVutkorQ8x4oEgZuEy4~6Sa3fmBOOAjT54GmuxycTsgfWIdjRhmC85cZ84KB91ypGSFiT-eOb6Zv43tAxE9vWHDLDId7jj8OFml27zwD2ymp50i8wwkbJhqalGoRCyWsL9A2BpHWt9dr6yJ9HOJEbbvt-C8MZvAxodvgcBMUQDBbwi5CcOfh-~H6cmJvOFKiPwm0DaBhRq2f2c8OSnUpqkULpBX2Vkmh-k~uHVK~FECGezNq3Wg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      />
      <div style="display: inline-block">
        <p
          style="
            /* display: inline-block; */
            /* float: inline-start; */
            margin-top: 0;
            width: 700px;
            height: 30px;
            flex-shrink: 0;
            /* color: #fff; */
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
            font-family: Inter;
            font-size: 82px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          "
        >
          METACRYST IITI
        </p>
        <p
          style="
            /* display: inline-block; */
            /* color: #fff; */
            text-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
            font-family: Inter;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          "
        >
          Metallurgical Engineering & Material Science
        </p>
      </div>
    </div>
    <!-- <div
      style="
        width: 496px;
        height: 617px;
        flex-shrink: 0;
        border-radius: 40px 0px 0px 40px;
        background: rgba(126, 106, 168, 0.5);
      "
    ></div> -->
    <p
      style="
        display: inline-block;
        /* position: fixed; */
        width: 80px;
        height: 250px;
        flex-shrink: 0;
        margin-right: 0;
        margin-bottom: 0;
        float: right;
        background-color: #d6b6ff;
        color: #140a2b;
        border: 4px solid;
        font-family: Kreon;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        writing-mode: vertical-rl;
        text-orientation: mixed;
      "
    >
      IIT INDORE
    </p>
    <div
      style="
        background-color: #140a2b;
        margin-top: 00px;
        display: inline-block;
        width: 100%;
      "
    >
      <div style="display: inline-block; justify-content: center">
        <p
          style="
            margin-left: 150px;
            display: flex;
            justify-content: center;
            width: 600px;
            height: 50px;
            flex-shrink: 0;
            color: #d6b6ff;
            font-family: Aldrich;
            font-size: 70px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          "
        >
          ABOUT THE CLUB
        </p>
        <p
          style="
            margin-left: 170px;
            display: flex;
            justify-content: center;
            width: 600px;
            height: 502px;
            flex-shrink: 0;
            color: #fff;
            font-family: Alef;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.12px;
          "
        >
          MetaCryst Club is a technical Club of the Metallurgy Engineering and
          Materials Science department of IIT Indore. The club is founded by Mr.
          Ashoutosh Gupta and Mr. Harshal Sonagara in 2019. The club consists of
          various teams that work day in and out for the welfare of the club
          under the guidance of Dr. Eswara Prasad Korimilli and Dr. Hemant
          Borker who are the faculty advisor for the club. The club organises
          various activities in the campus to make students aware about the MEMS
          Department.
        </p>
      </div>
      <div
        style="
          display: inline-block;
          float: right;
          margin-top: 50px;
          margin-right: 0;
          width: 496px;
          height: 500px;
          flex-shrink: 0;
          border-radius: 40px 0px 0px 40px;
          background: rgba(126, 106, 168, 0.5);
        "
      >
        <p
          style="
            display: flex;
            justify-content: center;
            color: #fff;
            text-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.5);
            font-family: Kadwa;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          "
        >
          Join Us!
        </p>
        <p
          style="
            display: flex;
            justify-content: center;
            padding-left: 20px;
            padding-right: 20px;
            color: #fff;
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-family: Caudex;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          "
        >
          Are you fascinated by the cutting-edge world of crystals, their
          properties, and their applications? Do you want to explore the realm
          of crystallography and delve into the mysteries of crystal structures?
          Look no further! The MetaCryst Club is the perfect platform for you to
          satisfy your curiosity and engage with like-minded enthusiasts.
        </p>
        <div>
          <img
            style="
              margin-left: 124px;
              width: 70px;
              height: 70px;
              flex-shrink: 0;
              border-radius: 70px;
              border: 2px solid #000;
              background: url(<path-to-image>), lightgray 50% / cover no-repeat;
              box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            "
            src="https://s3-alpha-sig.figma.com/img/c03e/2c9f/533d9c3e893f5a6684fe0df7627de28c?Expires=1691971200&Signature=UlhiR6CrDQJooaWsyb3gNTXhH~xxqtb0eoda52c2ui7t0v20vJK2ojIc8GZLR4UKNJBa8cCrDe3k69nVNxICHNlxDVjBBvs~W9M52Igq1jF4KRCDc~St-RSezes-67hwvL6MBimW-7xEHgOC-SUgIbTOXwoVRgUCsrxxqzYa15G-yXJNvZJa-52o0RPWlURJPzujFTuEGKbKi7sDc~MO~1zSrkrx4g4dV6dI5odDexdHZI6rmh4KZYmduK2AV~GNZ0ZqoEmMrLEgwGzYgqmK~ZZUaYrwMZqVMNoK4~jiyOrNLSd3vBghyolbjaf0914SwvgB8~05OVHgB55m5m~mlA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          />
          <img
            style="
              margin-left: 124px;
              width: 70px;
              height: 70px;
              flex-shrink: 0;
              border-radius: 70px;
              border: 2px solid #000;
              background: url(<path-to-image>), lightgray 50% / cover no-repeat;
              box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            "
            src="https://s3-alpha-sig.figma.com/img/4aa0/3202/d22a165de34689580bf36c3ae21559c0?Expires=1691971200&Signature=EV4FtjFWiQRJLvNyyijnsg7anVvqpfdkVvhAYlEKk2ZIC6xdjjRyrVoKGpkNxO5DtyhNPyq7DbxtJePlGvFqOZwwjvAHJgVmpmtApJCquNnsF5rOabkEg~mXmJ9J6oo9c9UtGGd6dUspc5N-B1b6~DtYvbU42Xwx4P3JMm~2grK~SzmZOr8a~amxQ01p4my2mtIa02IGJsorN5obY74DrLXsBhbYt97UcJxjdZoXwl-4mU7bdnEYtqJV1memqJ81Z1oQ2tRBeE5cSRu5hNZ7gCZxwnpiJB3s036XCB1vOggsPRgDDEELj8vDFXXPFkyPDZYSep2mQRR-CPaJPrK1Mw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          />
        </div>
      </div>
    </div>
  </body>
</html>
