<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #140a2b;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: rgba(83, 56, 87, 0.6);
      }

      li {
        float: left;
        width: 20%;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #140a2b;
      }
    </style>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/recentactivities">Recent Activities</a></li>
      <li><a href="/latestnews">Latest News</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/team">Team Members</a></li>
    </ul>
    <div
      style="
        display: inline-block;
        width: 187px;
        height: 900px;
        border: 1px solid #000;
        background: url(https://s3-alpha-sig.figma.com/img/0f6f/1a15/0307dd6fe7a9aeda943853adde238a92?Expires=1691971200&Signature=q4nNZLv6jH7OX8beF7VZEKzN32SHtzgH3tBfz78X9BXeNHERwXKG1sJqTkYC11mwqao2m4FUhIUqmLn1ce5wZWbez-BWr94g5YAz1xN4yxXCQw31orwBE~wUtAATdHwVb-03XofAqOpDg8kVDAqbm6wGziyqLGBbP4IPT6ejHNYTxEhQWZjHzjrkVmCtPL9Uo-xI9kYdfa71fHEL~qvhNNN3KxJ96-4hIkMZYUzqYZ6UL-vy~6ewYhqdv-lxwv4j-Ac2xAUjfy4bRuFtvT4CZmnlhKxExjQlIONdXMFwu6bZwYMoAgONF9YLmfLWJV9A--pM5Wf41IJN93hR37NwDg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
          lightgray 50% / cover no-repeat;
      "
    >
      <div
        style="
          display: inline-block;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 182px;
          height: 60px;
          flex-shrink: 0;
          border: 3px solid #000;
          opacity: 0.6499999761581421;
          background: #d6b6ff;
        "
      >
        <p
          style="
            flex-shrink: 0;
            color: #140a2b;
            font-family: Kreon;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          "
        >
          IIT INDORE
        </p>
      </div>
      <!-- <div style="background-color:#fff; opacity: 0.6499999761581421;"> -->
      <div>
        <p
          style="
            width: 182px;
            display: flex;
            justify-content: center;
            color: #fff;
            text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-family: Inika;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            /* margin-bottom: 0; */
          "
        >
          Vision
        </p>
        <p
          style="
            color: #fff;
            font-family: Inika;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 10px;
            padding-top: 0;
          "
        >
          The club motive is to establish this type of club in every IIT and
          NIT. The team members are eagerly excited to have inter IIT tech-meet
          of Metallurgy Engineering and Materials Science and related
          departments.
        </p>
      </div>
      <p
        style="
          /* margin-bottom: 0px;*/
          /* margin-top: 70%; */
          display: flex;
          justify-content: flex-end;
          transform: rotate(-90deg);
          color: #fff;
          text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
          font-family: Inter;
          font-size: 70px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        "
      >
        About US
      </p>
    </div>
    <div
      style="
        display: inline-block;
        width: 594px;
        height: 700px;
        margin-top: 0;
        margin-left: 20px;
        flex-shrink: 0;
        border-radius: 20px;
        background: rgba(126, 106, 168, 0.5);
      "
    >
      <img
        style="
          display: inline-block;
          margin-left: 20px;
          width: 100px;
          height: 100px;
          flex-shrink: 0;
          border-radius: 125px;
          border: 1px solid #000;
          background: url(<path-to-image>), lightgray 50% / cover no-repeat;
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
        "
        src="https://s3-alpha-sig.figma.com/img/2a70/d73b/582d9a752fb4b7df8a81ef83eca04301?Expires=1691971200&Signature=NMnjTXfEULOrkDHeQpwjUxFEYEcuB9GRXDw2tOFpyBjPQXgO0re3~ubZNlHWe~Coaqe~KViEmVpkGepFYqGN4IDHpXaLon2FrYe525W2QoQYx8knR39LdaxMTgslxk9U7D~uNhYIG32nQO9ufRAmg6swy9nZf7s-IFuBQEDTK66h0NFnFUBNn7Ef07vpCRdwqDUqI7niJrj65ML0Jlrd1YKhF3FpFAADsvdVxsqamhtF6Aje8jf2K7LYsTUZ6~qeRtzzfh5On6Lknxps6odLE8Ys6V5tYAqvyFvu13Y2kwIgczrw0YEDlemFNlb9TwKl9gZPMdVd-b4OuPPFfUHNwg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      />
      <p
        style="
          display: inline-block;
          width: 320px;
          /* height: 100px; */
          flex-shrink: 0;
          color: #fff;
          text-align: center;
          font-family: Abel;
          font-size: 50px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        "
      >
        From Faculty Advisor’s Desk
      </p>
      <img
        style="
          width: 100px;
          height: 100px;
          flex-shrink: 0;
          border-radius: 100px;
          border: 1px solid #000;
          background: url(<path-to-image>), lightgray 50% / cover no-repeat;
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
        "
        src="https://s3-alpha-sig.figma.com/img/fb1f/d8be/2ed60d5215662d6e8e48ea1aac89e219?Expires=1691971200&Signature=SY-vQerWI~wTBb7fU~quttMa4R-oeerPYLeUvHIEiQxQiZKaNzk7cMA8HOm8qF0B9wWpnL44xxlXGCZJoEoYz2lZHJpTGEKn8WjwPT8PKmwbye8t3hnZ9SyfiR2KsKEoOTPkqcJPBMH2SBkekKKtqcreQ7KIwAdA26oWnp4328CNDwo-QTb9HHOSnocRRlHxGVidmTS3oHiWhBo5KiUTq4BY2zFUPkMHtu3NfQUlUPC3UPE8PlVZScZ~kgskCC0cOAPFGgwwIJfAkMb7PSHU6fOqutI921B0CuoifsCyEoK8933IkDpxTuKpzQzIeUOlj~1qd-Ccllsg8lmAyfm~uw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      />
      <p
        style="
          /* width: 400px; */
          /* height: 9px; */
          flex-shrink: 0;
          color: #fff;
          font-family: Ponnala;
          font-size: 23px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-left: 40px;
          padding-right: 40px;
        "
      >
        It is an honor for us to be part of the Club. If we look at the current
        scenario, then neck cut competition exists in the world. Metallurgy
        Engineering and Material Science is one of the oldest and core branch of
        engineering, but the number of jobs in this field is still lesser than
        other branches. We have established this club in order to enhance the
        interest of students in the department, make them aware of the various
        innovative researches going on in the department. MetaCryst Club team
        consists of students with bright minds, who are always available to
        guide students about their careers in MEMS Department. We extend our
        wishes for the team and hope the club makes a remarkable achievement.
      </p>
    </div>
    <div
      style="
        display: inline-block;
        width: 590px;
        height: 700px;
        margin-left: 20px;
        flex-shrink: 0;
        border-radius: 20px;
        background: rgba(126, 106, 168, 0.5);
      "
    >
      <img
        style="
          display: inline-block;
          margin-left: 20px;
          width: 100px;
          height: 100px;
          flex-shrink: 0;
          border-radius: 125px;
          border: 1px solid #000;
          background: url(<path-to-image>), lightgray 50% / cover no-repeat;
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
        "
        src="https://s3-alpha-sig.figma.com/img/7c5b/33f0/0a40aba024adb334c5fe58be5c936614?Expires=1691971200&Signature=VFFTzBarznX~~4D7JYVDq~yz1OqbRmbPYduKGR5XB1POcbKd4xE9wo7kRsh0~iZwnyMYPKOq~oEGHKz8t1XgnDI4Ec4eDygsUGvApF54BMu27a7RA7e3qprir6tGEBcVh43GhwYBFP2CU2GPFFZn~oukjWNQekn2i3kekshaNVni8121bM9AkEMTAX2J8rxM9oKjhNZNpQzweXZKxt4eaynT27Zl9Z6r29m88puciD6JntkOqtqLpBAIqCf8V09PbbvsLOIukV5xrKKc4ZVCEi8Zw9knhHYrbWpa3bbScJ~fK4V9wcKNhtFODHzkCx9xfnYkodsrMjvZV6GBhma7Wg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      />
      <p
        style="
          display: inline-block;
          width: 320px;
          /* height: 100px; */
          flex-shrink: 0;
          color: #fff;
          text-align: center;
          font-family: Abel;
          font-size: 50px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        "
      >
        Message from Founders
      </p>
      <img
        style="
          width: 100px;
          height: 100px;
          flex-shrink: 0;
          border-radius: 100px;
          border: 1px solid #000;
          background: url(<path-to-image>), lightgray 50% / cover no-repeat;
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
        "
        src="https://s3-alpha-sig.figma.com/img/c6f8/daa2/9f150d1bd64130a69cd685ca5189c3c2?Expires=1691971200&Signature=mUNdmd3bWLF9qGX1mxQ7nyWzm1W-XdUrV0JSF5xaljlHdu2MXe1gWkdxxJjhY-yaZ0--Vvy~xABNe3X3iiR8nepLjSltgZtPntAAin1TZiwdTSP8c2uXCaqWyNA4V9d40Iv3viHlvoTXbDwL7NzJkKDPLNbxoU8yPH5DBH2goU963gcFacyjFWYVGS5~6cK-5aLgjNmJgD~bY6TQ3C5ECOAUUuUpsmq7Lb-l32d9Q55FG~bbI-qU21MacsYVi7OXXTo0KAYTtmUYfAqiYVxDs6fvVWACL-L0rXx5~Md~yL240FCo2f4AD7p4g0G8UJvR6G3BPaDc9sJ4UJnHOtA0qA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      />
      <p
        style="
          /* width: 525px; */
          /* height: 619px; */
          flex-shrink: 0;
          color: #fff;
          font-family: Ponnala;
          font-size: 22px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          padding-left: 40px;
          padding-right: 40px;
          margin-top: 0;
        "
      >
        Sitting at Shiru Cafe, brainstorming about arbitrary points, was when
        framing a departmental club came into the image. The Department of
        Metallurgy Engineering and Materials Science (MEMS) at IIT Indore has
        been one of the most encouraging fields for more than quite a long
        while. To give the department an open arbiter as a specialized club, We,
        alongside the first graduating bunch of MEMS, raised a club, to be
        specific 'Metacryst', with the help of a goal-oriented arrangement of
        resources.In a mission to advance redistribution of the branch and
        fabricate shared relations with industries, the club was set up to
        consistently address society's issues, tending to points that
        incorporate quality of life, vitality, manageability, and data
        innovation.We trust 'Metacryst' evolves while seeking after these
        subjects at the most elevated level, while at the same time keeping up a
        collegial and profoundly community air.
      </p>
    </div>
  </body>
</html>
